---
import Layout from "src/layouts/Layout.astro";
import Prices from "src/components/Prices.astro";
import { example1, example2, example3, example4, example5, example6 } from "../assets/index.js";

const comms = [
	{
		title: 'Bust',
		images: [
			example1, example2, example3
		],
		prices: [
			10, 20, 35
		],
		extraCharacterPrice: 10,
		maxExtraCharacters: 4,
		fastDelivery: 20
	},
	{
		title: 'Half Body',
		images: [
			example3, example4, example5
		],
		prices: [
			20, 35, 60
		],
		extraCharacterPrice: 40,
		maxExtraCharacters: 4,
		fastDelivery: 20
	},
	{
		title: 'Full Body',
		images: [
			example6, example4, example5
		],
		prices: [
			30, 50, 75
		],
		extraCharacterPrice: 40,
		maxExtraCharacters: 4,
		fastDelivery: 20
	}
]
---

<Layout title="Commisions">
	<div>
		{
			comms.map(comm => <Prices comm={comm}/>)
		}
		<div class="terms__button">
			<a href="/tos">TERMS <br/>AND<br/> CONDITIONS</a>
		</div>
	</div>
</Layout>

<style>
	div {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	div > .terms__button {
		display: flex;
		align-items: center;
		justify-content: center;
		width: fit-content;
		padding: 0.5em;
		background-color: var(--background-950);
		border-radius: var(--border-radius);
		border: 2px var(--background-100) solid;
		text-align: center;
		font-size: 0.8rem;
		color: var(--background-100);
		transition: all 0.3s ease;
	}

	div > .terms__button:hover {
		border: var(--border-weight) var(--background-400) solid;
		color: var(--background-400);
		scale: 1.1;
	}

	@media (width <= 700px) {
		div > .terms__button {
			font-size: 0.6rem;
			border-radius: 10px;
		}
	}
</style>