---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Section2 from 'src/components/Section2.astro';
---

<Layout title="Alez Commisions">
		<Hero />
		<div>
			<Section2 />
		</div>
</Layout>

<style>
	div {
		display: flex;
		width: 100%;
	}
</style>
