<section>
	<div>
		<h1>About Me</h1>
		<article>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta itaque nesciunt, corrupti vero sequi.</p>
		</article>
	</div>
	<img src="/example2.webp" alt="Example Commision 2">
</section>

<style>
	section {
		display: flex;
		align-items: flex-end;
		justify-content: flex-end;
		padding: 0em 2em;
		gap: 2em;
	}

	div {
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		flex-direction: column;
		gap: 1em;
	}

	img {
		width: 200px;
		border-radius: 20px;
	}

	section > div > h1 {
		font-size: 3rem;
		color: var(--background-100);
	}

	section > div > article {
		display: flex;
		align-items: center;
		justify-content: center;
		max-width: 30em;
		text-wrap: pretty;
		border: 4px var(--background-950) solid;
		border-radius: 10px;
		padding: 2em;
		color: var(--background-100);
	}

	article > p {
		font-size: 1.050rem;
	}

	@media (width <= 700px) {
		section {
			padding: 0em 0.5em;
			gap: 1em;
		}

		img {
			width: 200px;
			border-radius: 10px
		}

		section > div > h1 {
			font-size: 1rem;
		}


		section > div > article {
			padding: 0.5em;
			max-width: 21em;
		}

		section > div > article > p {
			font-size: 0.35rem;
		}
	}
</style>