<section>
	<div>
		<h2>About Me</h2>
		<article>
			<p>
				22 years old, Venezuelan. <br>
				Character designer, Gl enthusiast, Writer in my free time and Avid completist
			</p>
		</article>
	</div>
</section>

<style>
	section {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0em 2em;
		gap: 2em;
	}

	div {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		gap: 1em;
	}

	section > div > h2 {
		font-size: 4rem;
		color: var(--background-100);
	}

	section > div > article {
		display: flex;
		align-items: center;
		justify-content: center;
		max-width: 40em;
		text-wrap: pretty;
		border: 4px var(--background-950) solid;
		border-radius: 10px;
		padding: 1.2em;
		color: var(--background-100);
		text-align: center;
	}

	article > p {
		font-size: 1.3rem;
	}

	@media (width <= 700px) {
		div {
			gap: 0.5em;
		}
		
		section {
			padding: 0em 0.5em;
		}

		section > div > h2 {
			font-size: 1rem;
		}

		section > div > article {
			padding: 0.5em;
		}

		section > div > article > p {
			font-size: 0.35rem;
		}
	}
</style>