---
import { getI18N } from "../../i18n/index";
const { currentLocale = 'en' } = Astro;
const i18n = getI18N(currentLocale);
---

<section>
	<div>
		<h2>{i18n.ABOUT}</h2>
		<article>
			<p set:html={i18n.ABOUT_PARAGRAPH}></p>
		</article>
	</div>
</section>

<style>
	section {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0em 2em;
		gap: 2em;
	}

	div {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		gap: 1em;
	}

	section > div > h2 {
		font-size: 4rem;
		color: var(--background-100);
	}

	section > div > article {
		display: flex;
		align-items: center;
		justify-content: center;
		max-width: 40em;
		text-wrap: pretty;
		border: 4px var(--background-950) solid;
		border-radius: 10px;
		padding: 1.2em;
		color: var(--background-100);
		text-align: center;
	}

	article > p {
		font-size: 1.3rem;
	}

	@media (width <= 700px) {
		div {
			gap: 0.5em;
		}
		
		section {
			padding: 0em 0.5em;
		}

		section > div > h2 {
			font-size: 1rem;
		}

		section > div > article {
			padding: 0.5em;
		}

		section > div > article > p {
			font-size: 0.65rem;
		}
	}
</style>