<section>
	<h1>About Me</h1>
	<article>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta itaque nesciunt, corrupti vero sequi aliquid reprehenderit rerum dignissimos labore molestias quas sed repellat sit, reiciendis eius similique voluptatibus aut optio?</p>
	</article>
</section>

<style>
	section {
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		flex-direction: column;
		padding: 2em;
		gap: 2em;
	}

	h1 {
		font-size: 3rem;
		color: var(--background-100);
	}

	article {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		text-wrap: pretty;
		border: 4px var(--background-950) solid;
		border-radius: 10px;
		padding: 2em;
		color: var(--background-100);
	}

	article > p {
		font-size: 1.050rem;
	}

	@media (width <= 700px) {
		section {
			padding: 0.5em;
			gap: 0.5em;
		}

		h1 {
			font-size: 1rem;
		}

		ul {
			gap: 0.2em;
		}

		article {
			padding: 0.5em;
		}

		article > p {
			font-size: 0.35rem;
		}
	}
</style>