<section>
	<h1>About Me</h1>
	<article>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta itaque nesciunt, corrupti vero sequi aliquid reprehenderit rerum dignissimos labore molestias quas sed repellat sit, reiciendis eius similique voluptatibus aut optio?</p>
	</article>
</section>

<style>
	section {
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		flex-direction: column;
		padding: 2em;
		gap: 1em;
	}

	h1 {
		font-size: 2.5rem;
		color: var(--background-100);
	}

	article {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 48vh;
		text-wrap: pretty;
		border: var(--border-weight) var(--background-950) solid;
		border-radius: var(--border-radius);
		padding: 2em;
		color: var(--background-100);
	}

	@media (width <= 700px) {
		section {
			padding: 1em;
			gap: 0.5em;
		}

		h1 {
			font-size: 1.4rem;
		}

		article {
			height: 14vh;
			padding: 1em;
			font-size: 0.38rem;
		}
	}
</style>