<section>
	<img src="/example1.webp" alt="Example Image" draggable="false">
	<img src="/example2.webp" alt="Example Image" draggable="false">
</section>

<style>
	section {
		display: flex;
		flex-direction: column;
	}

	img {
		width: 1370px;
		border-radius: 50px;
		padding: 2em
	}
</style>