<section>
	<img src="/example1.webp" alt="Example Image" draggable="false">
	<img src="/example2.webp" alt="Example Image" draggable="false">
</section>

<style>
	section {
		display: flex;
		flex-direction: column;
	}

	img {
		width: 1370px;
		border-radius: 50px;
	}

	@media (width <= 700px) {
		img {
			width: 750px;
			padding: 0.6em;
			padding-right: 1em;
			border-radius: 25px;
		}
	}
</style>