<section>
	<img src="src/assets/dia8kaiju.png" alt="Example Image" draggable="false">
	<img src="src/assets/hyeseoredraw.jpg" alt="Example Image" draggable="false">
</section>

<style>
	section {
		display: flex;
		justify-content: space-between;
		width: 100%;
		padding: 2em;
	}

	img {
		width: 300px;
		border-radius: 20px;
	}

	@media (width <= 700px) {
		section {
			padding: 0.5em;
			gap: 0.5em;
		}

		img {
			border-radius: 10px;
		}
	}
</style>