<section>
	<img src="../../public/example1.webp" alt="Example Image">
	<img src="../../public/example2.webp" alt="Example Image">
</section>

<style>
	section {
		display: flex;
		flex-direction: column;
	}

	img {
		width: 1370px;
		border-radius: 50px;
		padding: 2em
	}
</style>