---
import { Image } from "astro:assets";
import { kaijudia8, hyeseoredraw } from '../assets/index';
const EXAMPLES = [
	{
		name: 'Day 8 Kaiju',
		src: kaijudia8
	},
	{
		name: 'Hyeseo Redraw',
		src: hyeseoredraw
	}
]
---

<section>
	{
		EXAMPLES.map(({name, src}) => {
			return (
				<Image src={src} alt={name}/>
			)
		})
	}
</section>

<style>
	section {
		display: flex;
		justify-content: space-between;
		width: 100%;
		padding: 2em;
	}

	img {
		width: 300px;
		border-radius: 20px;
	}

	@media (width <= 700px) {
		section {
			padding: 0.5em;
			gap: 0.5em;
		}

		img {
			border-radius: 10px;
		}
	}
</style>