<section>
	<img src="/example1.webp" alt="Example Image" draggable="false">
	<img src="/example2.webp" alt="Example Image" draggable="false">
</section>

<style>
	section {
		display: flex;
		flex-direction: column;
		padding: 2em;
		gap: 1em;
	}

	img {
		width: 1170px;
		border-radius: 20px;
	}

	@media (width <= 700px) {
		section {
			padding: 1em;
			gap: 0.5em;
		}

		img {
			width: 480px;
			padding: 0.5em;
			border-radius: 25px;
		}
	}
</style>