<footer>
		<div class="email">
			<span>
				CONTACT EMAIL:
			</span>
			<span>
				shinalezsii@gmail.com
			</span>
		</div>
</footer>


<style>
	footer {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 3em;
		margin-bottom: 1em;	
	}

	.email {
		display: flex;
		flex-direction: column;
		text-align: center;
		color: var(--background-100);
	}
</style>

