---
import { getI18N } from "../../i18n/index";
const { currentLocale = 'en' } = Astro;
const i18n = getI18N(currentLocale);
---

<div class="email">
	<span>
		{i18n.CONTACT_EMAIL}
	</span>
	<span>
		<a href="mailto:shinalezsii@gmail.com" title="Send a email to Alez!">shinalezsii@gmail.com</a>
	</span>
</div>

<style>
	.email {
		display: flex;
		flex-direction: column;
		text-align: center;
		color: var(--background-100);
	}

	.email > span:hover > a {
		text-decoration: underline;
	}

	@media (width < 700px) {
		div.email > span {
			font-size: 0.6rem;
		}

		div.email > span > a {
			font-size: 0.5rem;
		}
	}
</style>

