---
import { getI18N } from "../../i18n/index";
const { currentLocale = 'en' } = Astro;
const i18n = getI18N(currentLocale);
---
<section>
	<img src="./ProfilePhoto.webp" alt="Alez Profile Photo" draggable="false">
	<div>
		<div class="title">
			<h1>
				Alezsii
			</h1>
			<h2>
				{i18n.HERO_SUBTITLE}
			</h2>
		</div>
		<div class="summary">
			<span>
				{i18n.HERO_SUMMARY}
			</span>
			<span>
				He/They - ENG/ESP
			</span>
		</div>
	</div>
</section>

<style>
	section {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 2em;
		gap: 2em;
	}

	img {
		width: 450px;
		margin-top: 50px;
		border-radius: 50%;
		border: 4px var(--background-950) solid;
		aspect-ratio: 1 / 1;
	}

	section > div {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		width: 100%;
		gap: 1em;
	}

	section > div > div.title {
		display: flex;
		flex-direction: column;
	}

	section > div > div.title > h1 {
		font-size: 4rem;
		color: var(--background-100);
	}

	section > div > div.title > h2 {
		font-size: 0.7em;
		color: var(--background-950);
	}

	section > div > div {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}

	section > div > div > span {
		font-size: 1.2rem;
	}

	.summary {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		background-color: var(--background-100);
		border: 4px var(--background-950) solid;
		border-radius: 10px;
		width: 100%;
		padding: 3em;
		font-size: 0.5rem;
		gap: 5em;
		color: var(--background-950);
		text-align: center;
	}

	@media (width <= 700px) {
		section {
			font-size: 0.6rem;
			padding: 0.5em;
			padding-top: 1em;
			gap: 0.5em;
		}

		img {
			width: 150px;
			margin-top: 45px; 
		}

		section > div > div.title > h1 {
			font-size: 1.8rem;
		}

		section > div > div.title > h2 {
			font-size: 0.8em;
			text-align: center;
		}

		section > div > div.summary > span {
			font-size: 0.55rem;
		}

		section > div > div.summary {
			padding: 0.5em;
			gap: 1em;
		}
	}
</style>