---
import {Home, Commisions, Portfolio, Terms} from '@icons';
---

<nav>
	<ul>
		<li>
			<a href="/">
				<span>
					Homepage
				</span>
				<Home />
			</a>
		</li>
		<li>
			<a href="/commisions">
				<span>
					Commisions
				</span>
				<Commisions />
			</a>
		</li>
		<li>
			<a href="/portfolio">
				<span>
					Portfolio
				</span>
				<Portfolio />
			</a>
		</li>
		<li>
			<a href="/tos">
				<span>
					T.O.S
				</span>
				<Terms />
			</a>
		</li>
	</ul>
</nav>

<style>
	nav {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 6em;
		padding: 0.3em 1em;
		background-color: var(--background-500);
		width: 100%;
	}

	ul {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		gap: 0.5em;
	}


	li > a {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 1em 2em;
		background-color: var(--background-100);
		border-radius: var(--border-radius);
		border: 2px transparent solid;
		color: var(--background-950);
		font-size: 0.80rem;
		text-transform: uppercase;
		cursor: pointer;
		transition: all 0.3s ease;
		gap: 2em;
	}

	li > a:hover {
		background-color: var(--background-700);
		border: 2px var(--background-100) solid;
		color: var(--background-100);
		transition: all 0.3s ease;
	}

	@media (width <= 700px) {
		nav {
			margin-top: 3em;
		}

		li > a {
			padding: 1em 0.50em;
			font-size: 0.35rem;
			gap: 1em;
			width: 100%;
		}
	}
</style>