---
import {Home, Commisions, Portfolio, Terms} from '@icons';
import { getI18N } from "../../i18n/index";
const { currentLocale = 'en' } = Astro;
const i18n = getI18N(currentLocale);
---

<nav>
	<ul>
		<li>
			<a href={currentLocale === 'en' ? '/' : '/es'}>
				<span>
					{i18n.HOME_NAVBAR}
				</span>
				<Home />
			</a>
		</li>
		<li>
			<a href={currentLocale === 'en' ? '/commisions' : '/es/comisiones'}>
				<span>
					{i18n.COMMISIONS_NAVBAR}
				</span>
				<Commisions />
			</a>
		</li>
		<li>
			<a href={currentLocale === 'en' ? '/portfolio' : '/es/portafolio'}>
				<span>
					{i18n.PORTFOLIO_NAVBAR}
				</span>
				<Portfolio />
			</a>
		</li>
		<li>
			<a href={currentLocale === 'en' ? '/tos' : '/es/tos'}>
				<span>
					T.O.S
				</span>
				<Terms />
			</a>
		</li>
	</ul>
</nav>

<style>
	nav {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 6em;
		padding: 0.3em 1em;
		background-color: var(--background-500);
		width: 100%;
	}

	ul {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		gap: 0.5em;
	}


	li > a {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0.5em 2em;
		background-color: var(--background-100);
		border-radius: 15px;
		border: 2px transparent solid;
		color: var(--background-950);
		font-size: 0.80rem;
		text-transform: uppercase;
		cursor: pointer;
		transition: all 0.3s ease;
		gap: 2em;
	}

	li > a:hover {
		background-color: var(--background-700);
		border: 2px var(--background-100) solid;
		color: var(--background-100);
		transition: all 0.3s ease;
	}

	@media (width <= 700px) {
		nav {
			margin-top: 3em;
			padding: 0.2em 0.3em;
		}

		ul {
			gap: unset;
		}

		li > a {
			padding: 0.30em 0.75em;
			font-size: 0.36rem;
			gap: 1em;
			width: 100%;
			border-radius: 7px;
		}
	}
</style>