---
import Examples from "./Examples.astro";
import AboutMe from "./AboutMe.astro";
import SocialMedia from "./SocialMedia.astro";
---

<section>
		<div class="info">
			<SocialMedia />
			<AboutMe />
		</div>
</section>

<style>
	section {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	div {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.info {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		flex-direction: column;
		width: 100%;
	}
</style>