---
import { Instagram, Twitter, YouTube, Kofi, Facebook } from "@icons";
import { getI18N } from "../../i18n/index";
const { currentLocale = 'en' } = Astro;
const i18n = getI18N(currentLocale);
const SOCIAL_MEDIA = [
	{
		icon: Instagram,
		url: "https://www.instagram.com/alezsii_/",
		title: "Follow me on Instagram!",
	},
	{
		icon: Twitter,
		url: "https://twitter.com/alezsii",
		title: "Follow me on X!",
	},
	{
		icon: YouTube,
		url: "https://www.youtube.com/@alezsii_",
		title: "Subscribe to my YouTube channel!",
	},
	{
		icon: Facebook,
		url: "https://www.facebook.com/AlexSlashdot",
		title: "Follow me on Facebook!",
	},
	{
		icon: Kofi,
		url: "https://ko-fi.com/alezsii_",
		title: "Buy me a coffee!",
	}
];
---
<section>
	<div>
		<h2>{i18n.SOCIAL_MEDIA}</h2>
		<ul>
			{
				SOCIAL_MEDIA.map(({ icon, url, title }) => {
					const Icon = icon;
					return (
						<li>
							<a href={url} title={title}>
								{Icon ? <Icon /> : null}
							</a>
						</li>
					);
				})
			}
		</ul>
	</div>
</section>

<style>
	section {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		padding: 0em 2em;
		gap: 3em;
	}

	div {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		gap: 1em;
	}

	section > div > h2 {
		font-size: 4rem;
		color: var(--background-100);
	}

	ul {
		display: flex;
		gap: 1em;
	}

	li > a {
		display: flex;
		padding: 0.6em;
		background-color: var(--background-200);
		border-radius: var(--border-radius);
		border: 2px transparent solid;
		color: var(--background-950);
		transition: all 0.3s ease;
	}

	li > a:hover {
		background-color: var(--background-700);
		border: 2px var(--background-100) solid;
		color: var(--background-100);
		scale: 1.1;
	}

	@media (width <= 700px) {

		div {
			gap: 0.5em;
		}

		section {
			padding: 1em;
		}

		section > div > h2 {
			font-size: 1rem;
		}

		section > div > ul {
			gap: 0.3em;
		}

		section > div > ul > li > a {
			padding: 0.2em;
			border-radius: 10px;
		}
	}
</style>
