---
import { Instagram, Discord, Twitter, YouTube, Kofi } from '@icons';
---

<section>
	<h1>
		Social Media
	</h1>
	<ul>
		<li>
			<a href="https://www.instagram.com/alezsii_/" title="Follow me on Instagram!">
				<Instagram />
			</a>
		</li>
		<li>
			<a href="https://discordapp.com/users/" title="Send me a messagge!">
				<Discord />
			</a>
		</li>
		<li>
			<a href="https://twitter.com/alezsii" title="Follow me on X!">
				<Twitter />
			</a>
		</li>
		<li>
			<a href="https://www.youtube.com/@alezsii_" title="Subscribe to my YouTube channel!">
				<YouTube />
			</a>
		</li>
		<li>
			<a href="https://ko-fi.com/alezsii_" title="Buy me a coffee!">
				<Kofi />
			</a>
		</li>
	</ul>
</section>

<style>
	section {
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		flex-direction: column;
		padding: 2em;
		gap: 1em;
	}

	section > h1 {
		font-size: 2.5rem;
		color: var(--background-100)
	}

	ul {
		display: flex;
		gap: 0.5em;
	}

	li > a {
		display: flex;
		padding: 0.6em;
		background-color: var(--background-200);
		border-radius: var(--border-radius);
		border: 2px transparent solid;
		color: var(--background-950);
		transition: all 0.3s ease;
	}

	li > a:hover {
		background-color: var(--background-700);
		border: 2px var(--background-100) solid;
		color: var(--background-100);
		scale: 1.1;
	}

	@media (width <= 700px) {
		section {
			padding: 1em;
			gap: 0.5em;
		}

		section > h1 {
			font-size: 1rem;
		}

		ul {
			gap: 0.2em;
		}

		li > a {
			padding: 0.45em;
			border-radius: 5px;
		}
	}
</style>