---
interface Props {
	title: string;
}

import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro'
import LanguageSelector from 'src/components/LanguageSelector.astro';

const { title } = Astro.props;
import { getI18N } from "../../i18n/index";
const { currentLocale = 'es' } = Astro;
const i18n = getI18N(currentLocale);
---

<!doctype html>
<html lang={currentLocale}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={i18n.TITLE} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Potta+One&display=swap" rel="stylesheet">
		<meta name="generator" content={Astro.generator} />

		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content={ title } />
		<meta name="twitter:description" content=`Hi, I'm Alez, at your service!` />
		<meta name="twitter:image" content="https://alezsii-commisions.vercel.app/og.jpg" />

		<meta name="og:image" content="https://alezsii-commisions.vercel.app/og.jpg" />
		<meta name="og:title" content={ title } />
		<meta name="og:description" content=`Hi, I'm Alez, at your service!` />
		<meta name="og:url" content="https://alezsii-commisions.vercel.app/" />
		<meta name="og:site_name" content={ title } />
		<meta name="og:type" content="website" />
		<meta name="og:locale" content="en_US" />
		<title>{title}</title>
	</head>
	<body>
		<div class="card">
			<main>
				<header>
					<Navbar />
				</header>
				<div class="content">
					<slot/>
					<footer>
						<Footer />
					</footer>
				</div>
				<span class="watermark"><a href="https://github.com/Jellyv7" target="_blank" title="Visit dev GitHub!">Made by Jelly.flac with love <3</a></span>
			</main>
		</div>
	</body>
</html>

<script>
	window.addEventListener('contextmenu', e => {
		return e.preventDefault();
	});

</script>

<style is:global>
	* {
		margin: 0;
		padding: 0;
		min-width: 0;
		user-select: none;
		scroll-behavior: smooth;
		overscroll-behavior: contain;
		text-decoration: none;
		list-style: none;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		-webkit-tap-highlight-color: transparent;
	}

	:root {
		--background-50: #f9f6ed;
		--background-100: #f1e7d0;
		--background-200: #e4cfa4;
		--background-300: #d4af70;
		--background-400: #c69349;
		--background-500: #c69349;
		--background-600: #9d6431;
		--background-700: #7e4b2a;
		--background-800: #6a3e29;
		--background-900: #5b3528;
		--background-950: #341b14;
		--border-radius: 20px;
		--border-weight: 5px;
		--gradient: linear-gradient(0deg, #341b14 0%, #E4CFA4FF 100%);
		--shadow-color: 16deg 53% 15%;
		--shadow-elevation-medium: 0.6px 0.6px 0.9px hsl(var(--shadow-color) / 0.3), 1.7px 1.7px 2.6px -0.9px hsl(var(--shadow-color) / 0.29), 4.3px 4.3px 6.7px -1.8px hsl(var(--shadow-color) / 0.28), 10.5px 10.4px 16.2px -2.7px hsl(var(--shadow-color) / 0.27);
	}

	*:link, *:visited {
		color: inherit;
	}

	*, *::before, *::after {
		box-sizing: border-box;
	}

	img, video, svg {
		display: block;
		height: auto;
		max-width: 100%;
	}

	html {
  		font-family: "Potta One", system-ui;
		background-color: white;
		background: url('../assets/texture.png') repeat;
		background-color: #7e4b2a;
	}

	body {
		display: flex;
		justify-content: center;
		min-height: 100dvh;
		margin: 2em;
		letter-spacing: 1px;
	}

	header {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
	}

	main {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		width: 100%;
	}

	h1, h2, h3, h4, h5, h6 {
		text-wrap: balance;
	}

	.card {
		width: 80%;
		height: 100%;
		padding-inline: 8em;
		background-color: #F1E7D0;
		border-radius: 20px;
		border: 2px var(--background-900) solid;
		position: relative;
	}
	
	.content {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		margin-top: 1em;
		background-position: 0px 0px;
		background-image: linear-gradient(0deg, var(--background-900) 0%, var(--background-500) 100%);
		margin-bottom: 8em;
	}
	
	.watermark {
		padding: 0.5em;
		font-size: 0.7rem;
		opacity: 0.6;
		color: #6a3e29;
	}

	.watermark:hover {
		text-decoration: underline;
	}

	footer {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 3em;
		margin-bottom: 1em;	
	}

	@media (width <= 700px) {
		.card {
			width: 100%;
			padding-inline: 1em;
		}

		.content {
			margin-bottom: 3em;
			margin-top: 0.5em;
		}

		footer {
			margin-top: 1.5em;
		}

		.watermark > a {
			font-size: 0.4rem;
		}
	}

	@media (width <= 700px) {
		.select__language {
			margin-right: 1em;
			margin-top: 0.5em;
		}
	}
</style>

